<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
    <script src="/scroller.js" type="module"></script>
  </head>
  <body>
    <h2>asdasd</h2>
    <p>asdasd</p>

    <style>
      section {
        margin: 6rem 0;
      }
    </style>
    <section>
      <p class="text-center">uncover me</p>
      <div
        class="relative w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto blur-md hover:blur-0 transition-all duration-700"
      >
        <img
          src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
          alt="bird"
          class="w-full h-full object-cover"
        />
      </div>
    </section>

    <section>
      <p class="text-center">distance reveal</p>
      <script is:inline>
        document.addEventListener("alpine:init", () => {
          Alpine.data("unblur", () => ({
            dist: 100,
            move(e) {
              const rect = e.currentTarget.getBoundingClientRect();
              this.dist =
                Math.abs(rect.width / 2 - e.layerX) +
                Math.abs(rect.height / 2 - e.layerY);
            },
          }));
        });
      </script>
      <div
        x-data="unblur"
        class="relative"
        @mousemove="move"
        :style="`--dist:${Math.floor(dist)}px; filter:blur(calc(var(--dist)/50))`"
        :class="[]"
      >
        <img
          src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
          alt="bird"
          class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
        />
      </div>
    </section>

    <section x-data="{x:0,y:0}" class="relative">
      <p class="text-center max-w-[70ch] mx-auto">
        cursor blur <br />
         tricky... we can only blur the content INSIDE the blurred element. so
        we need to double everything. show an unblurred image, and then only
        show a portion of the blurred image. <br />
         note - also added a white background, else the blur is partly
        transparent at the edges.
      </p>

      <div class="relative">
        <div class="p-10 absolute inset-0">
          <img
            src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
            alt="bird"
            class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
          />
        </div>
        <div @mousemove="x=$event.layerX;y=$event.layerY;" class="blur-lg">
          <div
            class="p-10 bg-white"
            :style="`clip-path: circle(100px at ${x}px ${y}px)`"
          >
            <img
              src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
              alt="bird"
              class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="max-w-[500px] mx-auto">
        <p class="my-10">
          On scroll blur? <br /> i like how high blur almost desintegrates /
          hides the image
        </p>
        <p class="text-3xl opacity-50">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          praesentium quae ex optio beatae voluptate tempore animi sunt, veniam
          ullam sapiente minus! Labore dolore mollitia facilis voluptate.
          Veritatis, ea nulla!
        </p>
        <on-scroller>
          <img
            src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
            alt="bird"
            class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
            style="filter: blur( max(var(--center)*0.1, 0px) )"
          />
        </on-scroller>
        <p class="text-3xl opacity-50">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          praesentium quae ex optio beatae voluptate tempore animi sunt, veniam
          ullam sapiente minus! Labore dolore mollitia facilis voluptate.
          Veritatis, ea nulla!
        </p>
      </div>
    </section>
  </body>
</html>
