<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Back</a>
    <h1>Styles</h1>
    <ul class="list-disc pl-6">
      {
        "buttonanim,blurs,grid,scroller,repeat,perspective"
          .split(",")
          .map((page) => (
            <li class=" underline">
              <a href={`/style/${page}`}>{page}</a>
            </li>
          ))
      }
    </ul>
  </body>
</html>
