<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Stzles</h1>

    <ul class="list-disc pl-6">
      {
        ["box", "perspective"].map((page) => (
          <li class=" underline">
            <a href={`/style/${page}`}>{page}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
