---
import Box from "../../style/box.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body>
    <div class="threed perspective max-w-[1100px] mx-auto my-20">
      <header class="flex justify-between border-b border-black">
        <span>A 3D box w CSS 3D</span>
      </header>
      <main>
        <Box />
      </main>
    </div>
  </body>
</html>
