<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    :root {
      --persp: 400px;
    }
    .threed {
      perspective-origin: -100% -100%;
      transform-style: preserve-3d;
      transform-origin: left center;
    }
    .perspective {
      transform: perspective(var(--persp)) translate3d(0px, 0px, 0px)
        rotateY(6deg);
    }

    body {
      font-size: 1.5rem;
    }
  </style>
  <body>
    <div class="threed perspective max-w-[1100px] mx-auto my-20">
      <header class="flex justify-between border-b border-black">
        <span>Title</span>
        <button>xxx</button>
      </header>
      <main>
        <div class="x">
          <p>asdasdasd</p>
          <button class="bg-black text-white hover:[transform:translateZ(30px)]"
            >wow</button
          >
        </div>
        <p class="my-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          rem iusto exercitationem perspiciatis asperiores, eos eveniet minima
          quibusdam iste quaerat facere sit atque reiciendis blanditiis qui ad
          aliquid? Soluta, libero.
        </p>
      </main>
    </div>
  </body>
</html>
