---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.4.3/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <header>
      <h1>ALPINE AJAX</h1>
      <a href="/">back</a>

      <section>
        <div
          x-data
          x-init="$ajax('/alpine/joke',{ method:'get',target:'joke' })"
        >
          <p id="joke" x-merge="append">Joke :</p>
        </div>
      </section>

      <section></section>
    </header>
  </body>
</html>
