---
import Player from "../../react/loader";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style is:global>
    :root {
      --fg: #87a2c7;
    }
    body {
      background: #090a19;
      color: white;
      font-family: "Nimbus Mono PS", "Courier New", monospace;
    }
  </style>
  <body>
    <Player client:only="react" />
  </body>
</html>
