---
import { Form as QForm } from "../../qwik";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style is:global lang="scss"></style>
    <a href="/qwik">Back</a>
    <QForm />
  </body>
</html>
