---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>{"Astro <3 Qwik"}</h1>
    </header>
    <main>
      <ul>
        {
          "counter,menu,todo".split(",").map((name) => (
            <li>
              <a href={`/qwik/${name}`}>{name}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
