---
import Letter from "../../player/Letter.astro";
import Layout from "../../player/Layout.astro";
import Player from "../../player/Player.astro";

export function getStaticPaths() {
  const list = "abcdefghijklmnopqrstuvwxyz".split("");
  return list.map((li) => ({ params: { name: li } }));
}

const { name } = Astro.params;
---

<Layout title="view transitions - Letter">
  <Player name={name}>
    <div>
      <a href="/transitions">Back</a>
    </div>
    <div class="flex gap-8 bg-blue-300" transition:name={`box ${name}`}>
      <Letter name={name} />
      <div>
        <h1>Player {name}</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          corrupti accusantium adipisci, voluptatum error hic enim quod
          architecto aspernatur fuga incidunt eos esse? Omnis ratione ipsam
          officia quae nesciunt ipsum.
        </p>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit porro
      atque dolorem vitae laudantium, architecto, nulla at voluptas doloremque
      harum expedita, ad alias error rerum doloribus sit molestias esse quae.
    </p>
  </Player>
</Layout>
