---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <ViewTransitions />
  </head>

  <body>
    <script is:inline>
      const code = () =>
        Alpine.data("code", () => ({
          error: "",
          init() {
            const url = new URL(window.location);
            const error = url.searchParams.get("error");
            this.error = {
              invalid: "Code was invalid, pelase try again.",
              empty: "please provide your code",
            }[error];
          },
        }));

      document.addEventListener("astro:after-swap", code);

      document.addEventListener("alpine:init", code);
    </script>
    <div class="max-w-[500px] mx-auto">
      <header class="py-3">
        <h1 class="text-xl font-bold">Signup</h1>
      </header>

      <main>
        <h2>
          Great, to complete please check the verification code you received
        </h2>

        <form method="post" action="/astro/signup/api/code">
          <div class="my-6 grid place-items-center">
            <div class="max-w-[400px] flex flex-col gap-2">
              <div class="grid grid-cols-[100px_1fr] opacity-50 bg-gray-300">
                <label for="postcode">postcode</label>
                <input
                  type="text"
                  name="postcode"
                  id="postcode"
                  transition:name="postcode"
                  class="border border-black bg-gray-300"
                  transition:persist
                />
              </div>

              <div class="grid grid-cols-[100px_1fr] opacity-50 bg-gray-300">
                <label for="firstname">firstname</label>
                <input
                  type="text"
                  name="firstname"
                  id="firstname"
                  transition:name="firstname"
                  transition:persist
                  class="border border-black bg-gray-300"
                />
              </div>

              <div class="grid grid-cols-[100px_1fr] opacity-50 bg-gray-300">
                <label for="phone">phone</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  transition:name="phone"
                  transition:persist
                  class="border border-black bg-gray-300"
                  minlength="11"
                />
              </div>

              <div x-data="code">
                <label for="code" class="block">verification code</label>
                <input
                  type="text"
                  name="code"
                  id="code"
                  transition:name="code"
                  transition:persist
                  class="border border-black w-full"
                  minlength="6"
                  maxlength="6"
                  title="Please enter your 6 Digit code"
                  required
                />
                <p x-show="error" x-text="error" class="text-red-800"></p>
              </div>

              <button class="block bg-blue-200 w-full">Next</button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
