---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <ViewTransitions />
  </head>

  <body>
    <div class="max-w-[500px] mx-auto">
      <header class="py-3">
        <h1 class="text-xl font-bold">Signup</h1>
      </header>
      <main>
        <p>please tell us more about yourself</p>

        <form method="post" action="/astro/signup/api/one">
          <div class="my-6 grid place-items-center">
            <div class="max-w-[400px] flex flex-col gap-2">
              <div class="grid grid-cols-[100px_1fr] opacity-50 bg-gray-300">
                <label for="postcode">postcode</label>
                <input
                  type="text"
                  name="postcode"
                  id="postcode"
                  transition:name="postcode"
                  transition:persist
                  class="border border-black bg-gray-300"
                />
              </div>

              <div class="grid grid-cols-[100px_1fr]">
                <label for="firstname">firstname</label>
                <input
                  type="text"
                  name="firstname"
                  id="firstname"
                  transition:name="firstname"
                  transition:persist
                  class="border border-black"
                  required
                />
              </div>

              <div class="grid grid-cols-[100px_1fr]">
                <label for="phone">phone</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  transition:name="phone"
                  transition:persist
                  class="border border-black"
                  minlength="11"
                  required
                />
              </div>

              <button class="block bg-blue-200 w-full">Next</button>
            </div>
          </div>
        </form>
        <ul class="list-disc ml-6">
          <li>
            using advanced {"<input />"} attributes to replace client side js input
            checks
          </li>
          <li>receive errors from Backend via url params</li>
        </ul>
      </main>
    </div>
  </body>
</html>
