---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <ViewTransitions />
  </head>

  <body>
    <header>
      <h1>Review</h1>
    </header>

    <h2>review before you submit</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem,
      velit quos. Eveniet rem dolorum placeat quod exercitationem. Illum nam
      molestiae nulla, cumque, repellat rem cupiditate sed at commodi, autem
      voluptas?
    </p>
    <script is:inline>
      document.addEventListener("alpine:init", () => {
        Alpine.data("dropdown", () => ({}));
      });
    </script>
    <form
      method="post"
      action="/astro/signup/api/one"
      class="border border-blue-600 p-4 inline-flex mx-auto flex-col gap-2"
    >
      <div>
        <label for="postcode">postcode</label>
        <input
          type="text"
          transition:name="postcode"
          name="postcode"
          id="postcode"
          transition:name="postcode"
          transition:persist
          class="border border-black"
        />
      </div>

      <div>
        <label for="name">name</label>
        <input
          name="name"
          type="text"
          transition:name="name"
          transition:persist
          id="name"
          class="border border-black"
          required
        />
      </div>

      <div>
        <label for="phone">phone</label>
        <input
          name="phone"
          type="text"
          transition:name="phone"
          transition:persist
          id="phone"
          class="border border-black"
          minlength="11"
          required
        />
      </div>

      <div>
        <label for="code">code</label>
        <input
          name="code"
          type="text"
          transition:name="code"
          transition:persist
          id="code"
          class="border border-black"
          minlength="6"
          maxlength="6"
          title="Please enter your 6 Digit code"
          required
        />
      </div>

      <button disabled class="block">Submit</button>
    </form>
  </body>
</html>
