---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <ViewTransitions />
  </head>

  <body>
    <div class="max-w-[500px] mx-auto">
      <header class="py-3">
        <h1 class="text-xl font-bold">Signup</h1>
      </header>

      <main>
        <h2>We're so glad you're here</h2>
        <p>please review your details before you submit</p>
        <form>
          <div class="my-6 grid place-items-center">
            <div class="max-w-[400px] flex flex-col gap-2">
              <div class="grid grid-cols-[100px_1fr]">
                <label for="postcode">postcode</label>
                <input
                  type="text"
                  transition:name="postcode"
                  name="postcode"
                  id="postcode"
                  transition:name="postcode"
                  transition:persist
                  class="border border-black"
                />
              </div>

              <div class="grid grid-cols-[100px_1fr]">
                <label for="firstname">firstname</label>
                <input
                  name="firstname"
                  id="firstname"
                  transition:name="firstname"
                  transition:persist
                  type="text"
                  class="border border-black"
                  required
                />
              </div>

              <div class="grid grid-cols-[100px_1fr]">
                <label for="phone">phone</label>
                <input
                  name="phone"
                  type="text"
                  transition:name="phone"
                  transition:persist
                  id="phone"
                  class="border border-black"
                  minlength="11"
                  required
                />
              </div>

              <div class="grid grid-cols-[100px_1fr]">
                <label for="code">code</label>
                <input
                  name="code"
                  type="text"
                  transition:name="code"
                  transition:persist
                  id="code"
                  class="border border-black"
                  minlength="6"
                  maxlength="6"
                  title="Please enter your 6 Digit code"
                  required
                />
              </div>

              <button class="block bg-blue-200 w-full" disabled>submit</button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
