---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="/scroller.js" type="module"></script>
  <body>
    <main class="max-w-[500px] mx-auto text-xl flex flex-col gap-4 my-20">
      <h1>Title</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
      <on-scroller name="x">
        <div
          class="h-[400px] bg-red-200 translate-x-[calc((var(--view)-50)*2px)]"
        >
        </div>
      </on-scroller>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a
        inventore eius distinctio. Asperiores sed, itaque, impedit natus quos,
        eveniet voluptas vero modi ullam officia expedita voluptatibus maiores
        dignissimos iusto.
      </p>
    </main>
  </body>
</html>
