---
export const prerender = false;

const count = Astro.params.x ?? 0;
console.log(" COUNT ", { count });
---

<div id="state-count" class="p-8" hx-swap-oob="true">
  <p>State counter = {count}</p>
  <button
    class="bg-gray-200 m-1"
    hx-get=`/htmx/count-${+count+1 }`
    hx-swap="none">+1</button
  >
  <button
    class="bg-gray-200 m-1"
    hx-get=`/htmx/count-${+count+5 }`
    hx-swap="none">+5</button
  >
  <button
    class="bg-gray-200 m-1"
    hx-get=`/htmx/count-${+count*2 }`
    hx-swap="none">*2</button
  >
</div>
