---
import fs from "node:fs";
export const partial = true;

try {
  fs.accessSync("/tmp/count.txt");
} catch {
  fs.writeFileSync("/tmp/count.txt", "0");
}

const count = +fs.readFileSync("/tmp/count.txt", "utf-8").trim() + 1;
fs.writeFileSync("/tmp/count.txt", count.toString());
---

<!-- {count} -->
<span id="count" hx-swap-oob="true">
  {count}
</span>
